<p>list-category works!</p>

<span>this code will error, because we don't declare list category in module Category</span>

<span>this code will error, because we don't have app category item </span>
<app-category-item></app-category-item>
